<head>
<link rel="stylesheet" type="text/css" href="css/temp.css">
<script src="js/script_head.js"></script>

<title>Encrypted Chat Messenger</title>
</head>

<p>
<ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/create">Create Account</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
</p>
<center><h2>Encrypted Chat Messenger</h2>


<h3><i>Based of given template. Remade for security.</i></h3>

<!-- <p>
<img src="img/Icon.jpeg" alt="My spotify logo" height="40%">
</p> -->

<p>