<p>Hello ${name}!</p>

<p>The list of courses is ${courses}</p>
<form action="/course" method="post">
    <input type="hidden" name="current" value="${name}" />
    Course name: <input name="course" type="text" />
</br>
    <input value="Enter forum" type="submit"/>
</form>

<p>The list of users to talk to is ${users}</p>

<form action="/friends" method="post">
    <input type="hidden" name="current" value="${name}" />
    User: <input name="username" type="text" />
</br>
    <input value="Begin chat" type="submit"/>
</form>